/*Code Written By: Adrian Lewis;
CSS Styles page for home page
*/

/*Formatting for body*/
body {
	background: #303030;
	color: #ffffff;
}

.row {
	position: relative;
}

.test {
	height: 1000px;
}

.HomePhoto {
	margin: auto;
	margin-top: 60px;
	height: 600px;
	background-image: url("/images/AdrianSpeech.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: inline-block;
}

.type {
	position: absolute;
	width: 310px;
	height: 125px;
	top: 40px;
	right: 20%;
}

.intro1 {
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	color: #ffffff;
	font-family: "Monaco", Monospace;
	font-size: 25px;
}

.intro2 {
	position: absolute;
	top: 40px;
	left: 35px;
	width: 120px;
	color: #ffffff;
	font-family: "Monaco", Monospace;
	font-size: 40px;
}

@media (max-width: 993px) {
	.type {
		right: 110px;
	}
}

@media (max-width: 767px) {
	.HomePhoto {
		background-position: right -300px bottom -40px;
	}

	.type {
		right: 15%;
	}
}

@media (max-width: 577px) {
	.type {
		right: 0;
	}
}

.intro2 {
	overflow: hidden;
	border-right: .1em solid #ff0000;
	white-space: nowrap;
	width: 0;
	animation: 
		typing 2s steps(20, end) forwards,
		blink .8s infinite,
		hideAnimation 0s ease-in 2s;
		animation-fill-mode: forwards;
}

@keyframes typing {
	from {width: 0}
	to {width: 270px}
}

@keyframes blink {
	from {border-color: transparent}
	to {border-color: #ff0000}
}

@keyframes hideAnimation {
	to {
		border: none;
		visibility: visible;
	}
}

.Opener {
	padding-top: 20px;
	padding-bottom: 100px;
}

#test {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 100px;
	background: black;
	color: white;
}