/*Code Written By: Adrian Lewis;
Styles page for headers
*/

/*Formatting for body*/
body {
	background: #303030;
	color: #ffffff;
}

/*Formatting for heading 2*/
h2 {
	font-size: 30px;
	padding-left: 15px;
}

/*Formatting for content*/
.work, .overview, .skills, .education, .awards {
	margin: 0;
	padding-bottom: 10px;
}

/*Format photo in overview*/
.portrait {
	background-image: url("../images/adrianaboutphoto.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: auto;
	margin-bottom: 10px;
	width: 200px;
	height: 275px;
}

@media (max-width: 577px) {
	.portrait {
		width: 150px;
		height: 210px;
	}
}

.overview {
	margin-top: 70px;
}

.section1 {
	padding-bottom: 10px;
}

div ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

a:link, a:visited {
	color: #cc0000;
	text-decoration: none;
}

.dropdown-content div div{
	background-color: #7E7E7E;
	border: 1px solid #000000;
	height: 100%;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}

.dropdown-content div ul {
	font-weight: normal;
}

.dropdown-button {
	display: block;
	width: 95%;
	border: none;
	cursor: pointer;
	background-color: #690000;
	outline: none;
	border: none;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	transition: background 0.2s;
	margin: auto;
}

.dropdown-button::after {
	content: '\25be';
	float: right;
	padding-right: 5%;
	transform: scale(1.5);
}

.dropdown-button--active {
	background: #690000;
}

.dropdown-button--active::after {
	content: '\25b4';
}

.dropdown-content {
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.2s;
	padding-top: 5px;
}

.awards {
	border: none;
}