body {
  background-image: url("./images/slate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.menu-icon:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  cursor: pointer;
}