/*Code Written By: Adrian Lewis;
Styles page for footers
*/

/*Style for main page footer*/
#MainFooter {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: linear-gradient(to top, darkred, black);
	color: whitesmoke;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: white black black black;
	padding-top: 5px;
	height: 55px;
}

/*Put links inline*/
footer > div > li {
	display: inline-block;
	padding-right: 5px;
}