/*Code Written By: Adrian Lewis;
CSS Styles page for home page
*/

/*Formatting for body*/
body {
	background: darkslategray;
	color: white;
}

.content {
	background: black;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.one {
	margin-top: 150px;
	background-image: url("../images/Lazy_Skiier.jpg");
	background-size: cover;
	background-position: -30px 0px;
}

.two {
	background-image: url("../images/table.jpg");
	background-size: cover;
	background-position: 0px 0px;
}

.three {
	background-image: url("../images/TokyoTower.JPG");
	background-size: cover;
	background-position: 2px 0px;
}

.four {
	background-image: url("../images/Moon.jpg");
	background-size: cover;
	background-position: 0px -55px;
}

.five {
	background-image: url("../images/SkyrimRedBlack.jpg");
	background-size: cover;
	background-position: -45px 0px;
}

.six {
	background-image: url("../images/DN.jpg");
	background-size: cover;
	background-position: 0px 0px;
}

.seven {
	
}

.eight {
	
}

@media (max-width: 991px) {
	.row {
		position: relative;
		display: inline-block;
		left: 50%;
		margin-left: -75px;
	}
}

@media (min-width: 992px) {
	.content {
		position: absolute;
		margin-left: -75px;
	}

	.one {
		top: 0px;
		left: 50%;
	}
	.two {
		top: 225px;
		left: 25%;
	}

	.three {
		top: 225px;
		left: 75%;
	}

	.four {
		top: 450px;
		left: 20%;
	}

	.five {
		top: 450px;
		left: 80%;
	}

	.six {
		top: 675px;
		left: 25%;
	}

	.seven {
		top: 675px;
		left: 75%;
	}

	.eight {
		top: 750px;
		left: 50%;
	}
}