/*Code Written By: Adrian Lewis;
CSS Styles page for hobbies page
*/

/*Formatting for body*/
body {
	background: #303030;
	color: #ffffff;
}

.main {
	position: relative;
	margin-top: 150px;
}

.content {
	position: relative;
	background: #000000;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.one {
	background-image: url("../images/Lazy_Skiier.jpg");
	background-size: cover;
	background-position: -30px 0px;
}

.two {
	background-image: url("../images/table.jpg");
	background-size: cover;
	background-position: 0px 0px;
}

.three {
	background-image: url("../images/TokyoTower.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.four {
	background-image: url("../images/Moon.jpg");
	background-size: cover;
	background-position: 2px -55px;
}

.five {
	background-image: url("../images/SkyrimRedBlack.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -45px 2px;
}

.six {
	background-image: url("../images/deathnote.jpg");
	background-size: cover;
	background-position: -30px 0px;
}

.seven {
	background-image: url("../images/panda.jpg");
	background-size: cover;
	background-position: -60px 0px;
}

.eight {
	background-image: url("../images/BrainChip.jpg");
	background-size: cover;
	background-position: 0px 0px;
}

@media (max-width: 767px) {
	.main {
		display: inline-block;
		left: 50%;
		margin-left: -75px;
	}
}

@media (min-width: 768px) {
	.main .row {
		height: 750px;
	}

	.content {
		margin-left: -75px;
		margin-bottom: 0px;
	}

	.one {
		top: 0px;
		left: 50%;
	}

	.two {
		top: -75px;
		left: 25%;
	}

	.three {
		top: -225px;
		left: 75%;
	}

	.four {
		top: -150px;
		left: 20%;
	}

	.five {
		top: -300px;
		left: 80%;
	}

	.six {
		top: -225px;
		left: 25%;
	}

	.seven {
		top: -375px;
		left: 75%;
	}

	.eight {
		top: -450px;
		left: 50%;
	}
}