/*Code Written By: Adrian Lewis;
Styles page for headers
*/

/*Reset browser styles*/


h1 {
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	font-family: "Copperplate", fantasy;
	font-size: 40px;
	margin-top: 60px;
}

#HeaderPhoto {
	position: absolute;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*Formatting for body*/
body {
	position: relative;
	top: 0;
	bottom: 0;
	background: darkslategray;
	color: white;
	margin: 0;
	padding: 0px;
}

/*Formatting for heading 2*/
h2 {
	font-size: 30px;
	text-decoration: underline;
}

/*Formatting for content*/
div div {
	border-style: solid;
	border-width: 1px;
	border-color: white white black white;
	padding-bottom: 10px;
}

#MainContent {
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	padding: 5px;
	background: floralwhite;
	color: black;
	text-align: justify;
	font-size: 20px;
}

#photo {
	position: absolute;
	
}