/*Code Written By: Adrian Lewis;
CSS Styles page for home page
*/

h1 {
	color: White;
	font-family: "Monaco", Monospace;
	font-size: 40px;
	margin-top: 60px;
}

/*Formatting for body*/
body {
	background: darkslategray;
	color: white;
}

.row {
	position: relative;
}

.test {
	height: 1000px;
}

.HomePhoto {
	margin-top: 60px;
	height: 600px;
	background-image: url("/images/HorseTrackRainier.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-position: 0px 50px;*/
}

.intro1 {
	position: absolute;
	top: 70px;
	left: 15%;
	color: white;
	font-family: "Monaco", Monospace;
	font-size: 25px;
	margin-top: 60px;
}

.intro2 {
	position: absolute;
	top: 120px;
	left: 20%;
	color: white;
	font-family: "Monaco", Monospace;
	font-size: 40px;
	margin-top: 60px;
}