/*Code Written By: Adrian Lewis;
Styles page for headers
*/

/*Formatting for body*/
body {
	background: #303030;
	color: #ffffff;
}

/*Formatting for heading 2*/
h2 {
	font-size: 30px;
	padding: 10px 0px 10px 15px;
}

/*Formatting for content*/
.row {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0;
	padding-bottom: 10px;
}

.portrait {
	margin-bottom: 10px;
	background-image: url("../images/adrianaboutphoto.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%px;
	height: 275px;
}

.overview {
	margin-top: 100px;
	padding-bottom: 0px;
}

div ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

a:link, a:visited {
	color: #ff0000;
	text-decoration: none;
}

.skills div div{
	background-color: #690000;
	border: 1px solid #000000;
	height: 120px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 20%;
}

.skills div ul {
	font-weight: normal;
}